#intro {
    height: 750px;
    background-image: url(../assets/Background_Intro.png);
    background-size: cover;
    position: relative;
    
    #info {
        align-items: center;
        gap: 80px;
        width: 1040px;
        height: 447px;
        position: relative;
        left: calc(50% - 1040px/2);
        top: 120px;

        header {
            align-items: center;
            gap: 56px;
            width: 680px;
            height: 327px;

            #avatar {
                width: 112px;
                height: 112px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                padding: 4px;
                border: 2px solid var(--color-red);
                position: relative;

                img:nth-child(1) {
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }

                img:nth-child(2) {
                    position: absolute;
                    width: 31px;
                    left: 78px;
                    top: 78px;
                }
            }

            #text {
                gap: 20px;

                #title {
                    p {
                        color: var(--color-gray-200);
                    }
                }

                h1 {
                    font: var(--title-lg);
                    color: var(--color-gray-100);
                }

                p {
                    color: var(--color-gray-300);
                }
            }
        }

        #tags {
            width: 754px;
            height: 40px;
            justify-content: space-between;
            gap: 16px;

            .tag{
                height: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 999px;
                gap: 8px;
                padding: 8px 16px;
                background: var(--color-gray-400);

                img {
                    width: 24px;
                }

                span {
                    color: var(--color-gray-200);
                }
            }
        }
    }
    
    #CaretDoubleDown {
        position: absolute;
        width: 32px;
        height: 32px;
        left: calc(50% - 32px/2);
        top: 661px;
    }
}