#projects {
    padding: 72px 120px 144px;
    display: flex;
    gap: 56px;

    & > div {
        gap: 24px;
        width: 1040px;
        height: 584px;

        .project-card {
            width: 330px;
            height: 280px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 12px;
            background-color: var(--color-gray-400);
            border-radius: 12px;
            border: 1.5px solid transparent;

            img {
                border-radius: 8px;
            }

            figcaption {
                gap: 20px;

                span {
                    color: var(--color-gray-100);
                }

                p {
                    color: var(--color-gray-200);
                }
            }
        }

        .project-card:hover {
            border: 1.5px solid var(--color-gray-300);
        }
    }
}